@import url(../khan__title/khan__title.css);
@import url(../khan__author/khan__author.css);
@import url(../khan__qoute-author-subline/khan__quote-author-subline.css);
@import url(../khan__quote-author/khan__qoute-author.css);
@import url(../khan__quote/khan__quote.css);

.khan__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
