
.feynmann {
   background-color: #f2f2f2;
   position: relative;
   min-height: 890px;
   padding-top: 100px;
   background-image: url(../../images/feinman.png);
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: 867px 637px;
   font-family: 'Inter', 'Arial', sans-serif;
   color: #000000;
}

