.feynmann__link {
    position: absolute;
    right: 40px;
    bottom: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    }
    
.link:hover {
    opacity: 0.6;
}