
.link {
    transition: translate linear;
    text-decoration: none;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    
}

.link:hover {
    opacity: 0.6;
    transform: translate(4px);
}