@import url(../../rotation/rotation.css);


.kaufman__triangle {
    
    height: 800px; 
    width: 800px;
    position: absolute;
    border: solid 1px solid;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 0;

}


 
