
.techniques {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    flex-wrap: wrap;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000000;
}








