@import url(logo_place_header/logo_place_header.css);
@import url(header__main-illustration/header__main-illustration.css);
@import url(header__square-pic/header__square-pic.css);
@import url(header__subtitle/header__subtitle.css);
@import url(header__title/header__title.css);
@import url(header__link/header__link.css);

.header {
    background-color: #f2f2f2;
    position: relative;
    min-height: 700px;
    max-height: 756px;
    height: 100vh;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    justify-content: center;  
    overflow: hidden;
    padding-left: 64px;
}   

