@import url(../../footer/logo_place_footer/logo_place_footer.css);
@import url(../footer__columns/footer__column_content_copyright/footer__column_content_copyright.css);
@import url(../footer__columns/footer__column_content_info/footer__column_content_info.css);
@import url(../footer__columns/footer__column_content_social/footer__column_content_social.css);


.footer__columns {
    width: 90%;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin: 0;
}

