
.header {
    background-color: #f2f2f2;
    position: relative;
    min-height: 600px;
    max-height: 756px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    overflow: hidden;
    padding-left: 64px;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000000;
}   

