@import url(../footer__column-links/footer__column-links.css);
@import url(../footer__column-links/footer__column-heading/footer__column-heading.css);
@import url(../footer__column-links/footer__social-icon/footer__social-icon.css);

.footer__column_content_social {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}
