
.kaufman__triangle {
    
    height: 800px; 
    width: 800px;
    display: flex;
    justify-content: start;
    position: absolute;
    right: -210px;
    top: 0;
    background-image: url(../../../images/triangle.svg);
    background-size: contain;
}


 
