@import url(table__cell_theme-dark/table__cell_theme-dark.css);

.table__cell {
    width: 250px; 
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    justify-content: start; 
}

