
.footer__column-links {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    padding-left: 0;
}
